/*----------------------
       common part
--------------------- */
body{
    font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;
}
.delicious{
    font-family: 'Lobster', cursive;
    font-size: 32px;
    c
}